// Radio Button Variables
$radio-size: 18px !default;
$radio-label-padding: ($radio-size + 10) !default;
$radio-border: $blue-80 !default;
$radio-check-color: $shade-0 !default;
$radio-color-active: $blue-ci !default;
