// Detail Page Header Variables
$detail-page-header-background-color: $cool-white-4 !default;
$detail-page-header-icon-color: $blue-ci !default;
$detail-page-header-icon-color-hover: $blue-50 !default;
$detail-page-header-breadcrumb-color: $blue-ci !default;
$detail-page-header-breadcrumb-color-hover: $blue-50 !default;
$detail-page-header-app-link-color: $blue-ci !default;
$detail-page-header-app-link-color-hover: $blue-50 !default;
