// Dropdown
$dropdown-height: 40px !default;
$dropdown-speed: .3s !default;
$dropdown-icon-size: 18px !default;
$dropdown-color: $blue-80 !default;
$dropdown-font-size: 14px !default;
$dropdown-background-color: $cool-white-4 !default;
$dropdown-border-color: $cool-white-4 !default;
$dropdown-border-color-hover: $blue-ci !default;
$dropdown-arrow-color: $blue-ci !default;
$dropdown-list-color-hover: $blue-80 !default;
$dropdown-list-background-color: $cool-white-4 !default;
$dropdown-list-background-color-hover: $navy-gray-20 !default;
$dropdown-list-border-color-hover: $violet-70 !default;
