// Form Field Variables
$input-height: 40px !default;
$input-color: $blue-80 !default;
$input-font-size: 14px !default;
$input-background-color: $cool-white-4 !default;
$input-border-color: $cool-white-4 !default;
$input-border-color-hover: $blue-ci !default;
$input-placeholder-color: $blue-80 !default;
$input-message-color: $red-50 !default;
$input-icon-size: 18px !default;
$input-select-icon-color: $blue-ci !default;
