// Overflow Variables
$overflow-button-color: $cool-gray-30 !default;
$overflow-button-color-hover: $cool-gray-50 !default;
$overflow-list-background-color: $shade-0 !default;
$overflow-list-divider-color: $cool-white-4 !default;
$overflow-list-action-color: $blue-80 !default;
$overflow-list-action-color-hover: $shade-0 !default;
$overflow-list-action-background-hover: $blue-ci !default;
