// Table Variables
$table-header-color: $base-color !default;
$table-header-border-color: $blue-80 !default;
$table-header-background-color: $shade-0 !default;
$table-row-header-border-color: $shade-0 !default;
$table-row-header-border-color-hover: $blue-ci !default;
$table-row-header-background-color: $shade-0 !default;
$table-row-header-icon-color: $blue-ci !default;
$table-row-background-color-light: $shade-0 !default;
$table-row-background-color-dark: $shade-0 !default;
$table-row-border-color: $navy-gray-20 !default;
$table-row-border-color-hover: $navy-gray-20 !default;
$table-row-selected-color: $blue-80 !default;
$table-row-selected-border-color: $navy-gray-20 !default;
$table-row-selected-background-color: $cool-white-4 !default;
$table-row-selected-marker-color: $violet-70 !default;
