// Card Variables
$card-body-border-color: $shade-0 !default;
$card-body-background-color: $shade-0 !default;
$card-footer-border-color: $cool-white-4 !default;
$card-footer-background-color: $cool-white-4 !default;
$card-symbol-icon-color: $shade-0 !default;
$card-symbol-background-color: $violet-70 !default;
$card-transparent-black: color('black', 100, $alpha: .2);
