// Toggle Variables
$toggle-height: 20px !default;
$toggle-track: $blue-80 !default;
$toggle-track-disabled: $cool-gray-50 !default;
$toggle-switch-border: $blue-80 !default;
$toggle-switch-border-disabled: $cool-gray-50 !default;
$toggle-switch-fill: $navy-gray-20 !default;
$toggle-switch-fill-disabled: $navy-gray-20 !default;
$toggle-switch-start: 0 !default;
$toggle-switch-stop: 24px !default;
$toggle-color-active: $blue-ci !default;
$toggle-label-color-disabled: $cool-gray-50 !default;
