// Tabs Variables
$tab-link-color: $blue-80 !default;
$tab-link-color-hover: $blue-ci !default;
$tab-selected-link-color: $blue-ci !default;
$tab-panel-background-color: $cool-white-4 !default;


// Mobile View Variables
$tab-dropdown-height: 40px !default;
$tab-dropdown-speed: .3s !default;
$tab-dropdown-icon-size: 18px !default;
$tab-dropdown-color: $blue-80 !default;
$tab-dropdown-font-size: 14px !default;
$tab-dropdown-background-color: $navy-gray-20 !default;
$tab-dropdown-border-color: $cool-white-4 !default;
$tab-dropdown-border-color-hover: $blue-ci !default;
$tab-dropdown-arrow-color: $blue-ci !default;
$tab-dropdown-list-color-hover: $blue-80 !default;
$tab-dropdown-list-background-color: $navy-gray-20 !default;
$tab-dropdown-list-background-color-hover: $navy-gray-10 !default;
$tab-dropdown-list-border-color-hover: $violet-70 !default;
