// Button Variables
@import 'buttons-variables';


// Buttons
.button {
  @include transition();
  display: inline-block;
  height: $button-height;
  line-height: $button-height;
  background-color: transparent;
  outline: none;
  min-width: 104px;
  font: {
    family: $base-font;
    size: $button-font-size;
    weight: $button-font-weight;
  }
  text: {
    align: center;
  }

  .icon {
    @include size($button-icon-size);
    @include transition();
    float: right;
    margin: 11px 0 0 16px;
  }


  // Button Icon
  .icon--cart {
    margin-top: 9px;
  }
}


// Primary Button
.button--primary {
  color: $button-primary-color;
  background-color: $button-primary-background;
  padding: 0 $button-padding;

  .icon {
    fill: $button-primary-icon-fill;
  }

  &:hover {
    background-color: $button-primary-color-hover;
  }

  &.is-disabled {
    color: $button-primary-color-disabled;
    background-color: $button-primary-background-disabled;
    cursor: not-allowed;

    .icon {
      fill: $button-primary-icon-fill-disabled;
    }
  }
}


// Secondary Button
.button--secondary {
  color: $button-secondary-color;
  line-height: ($button-height - 2);
  border: 1px solid $button-secondary-color;
  padding: 0 ($button-padding - 1);

  .icon {
    fill: $button-secondary-icon-fill;
  }

  &:hover {
    color: $button-secondary-color-hover;
    background-color: $button-secondary-background-hover;
    border-color: $button-secondary-border-hover;

    .icon {
      fill: $button-secondary-icon-fill-hover;
    }
  }

  &.is-disabled {
    color: $button-secondary-color-disabled;
    background: none;
    border-color: $button-secondary-border-disabled;
    cursor: not-allowed;

    .icon {
      fill: $button-secondary-icon-fill-disabled;
    }
  }
}


// Tertiary Button
.button--tertiary {
  color: $navy-gray-90;
  background-color: $navy-gray-20;
  padding: 0 $button-padding;

  &:hover {
    background-color: darken($navy-gray-20, 15%);
  }
}


// Flat Button
.button--flat {
  color: $button-flat-color;

  &:hover {
    color: $button-flat-color-hover;
    text-decoration: underline;
  }

  &.is-disabled {
    color: $button-flat-color-disabled;
    text-decoration: none;
    cursor: not-allowed;
  }
}


// Submit Button
.button--submit {
  font-size: $button-font-size;
}


// Button Helpers
.button--status-normal {
  background-color: $status-normal;
}

.button--status-critical {
  background-color: $status-critical;
}


// Button Sizes
.button--full-width {
  width: 100%;
  padding: 0;
}


// Button Focus
[data-peripheral='keyboard'] .button:focus {
  box-shadow: 0 0 0 1px $base-background,
              0 0 3px 3px $blue-30;
  border-radius: 0;
}
