// Helper Styles


// Spacing Mixin
$directions: (top, right, bottom, left);

$spacing-sizes: (
  tiny: 5px,
  small: 10px,
  medium: 20px,
  large: 30px,
  xlarge: 40px
);


// Flex
.u-flex {
  display: flex;
}

.u-flex--reverse {
  flex-direction: row-reverse;
}


// Disabled
.u-disabled {
  opacity: .6;
  pointer-events: none;
}


// Rounded Corners
.u-rounded {
  border-radius: $base-radius;
}


// Centering
.u-centered,
.u-text--centered {
  text-align: center;
}


// Positioning
.u-relative {
  position: relative;
}

.u-float--left {
  float: left;
}

.u-float--right {
  float: right;
}

.u-block {
  display: block;
}


// Text
.u-text--light {
  font-weight: 300;
}

.u-text--reg {
  font-weight: 400;
}

.u-text--bold {
  font-weight: 700;
}


// Italic Text
.u-text--italic {
  font-style: italic;
}


// Text Sizes
$text-sizes: (
  mini: 12px,
  small: 14px,
  large: 18px,
  xlarge: 22px
);

@each $text-size, $size in $text-sizes {
  .u-text--#{$text-size} {
    font-size: $size;
  }
}

.u-text--large,
.u-text--xlarge {
  line-height: 1.7;
}


// Spacing Helpers
@each $direction in $directions {
  .u-push-#{$direction} {
    @each $size, $unit in $spacing-sizes {
      &--#{$size} {
        margin-#{$direction}: $unit !important;
      }
    }

    @include media(desktop) {
      @each $size, $unit in $spacing-sizes {
        &--#{$size} {
          margin-#{$direction}: ($unit * 1.5) !important;
        }
      }
    }
  }
}

.u-flush {
  margin: 0 !important;

  @each $direction in $directions {
    &--#{$direction} {
      margin-#{$direction}: 0 !important;
    }
  }
}


// Divider
.u-divider {
  @include size(100%, 1px);
  border: 0;
  background: color('gray', 90);
}


// Colors
.u-color--light {
  color: $shade-0 !important;
}

.u-color--dark {
  color: $blue-80 !important;
}
