// Autocomplete Variables
$autocomplete-list-top: 40px !default;
$autocomplete-item-height: 40px !default;
$autocomplete-background-color: $cool-white-4 !default;
$autocomplete-item-color: $blue-80 !default;
$autocomplete-item-color-selected: $blue-80 !default;
$autocomplete-item-background-color: $navy-gray-20 !default;
$autocomplete-item-background-color-selected: $navy-gray-20 !default;
$autocomplete-item-border-color-selected: $violet-70 !default;
