$headline-color: $base-color !default;
$headline-weight: 700 !default;
$headline-line-height: 1.2 !default;
$headline-margin: 12px !default;
$h1-size: 32px !default;
$h2-size: 24px !default;
$h3-size: 20px !default;
$h4-size: 18px !default;
$h5-size: 16px !default;
$h6-size: 14px !default;
$paragraph-margin: 20px !default;
$paragraph-large-font-size: 110% !default;
