// Pagination Variables
$step-number-color: $blue-80 !default;
$step-label-color: $blue-80 !default;
$step-border-color: $blue-80 !default;
$step-current-number-color: $shade-0 !default;
$step-current-border-color: $blue-80 !default;
$step-current-background-color: $blue-ci !default;
