// Fab Button Variables
$fab-button-label-color: $shade-0 !default;
$fab-button-background-color: $violet-70 !default;
$fab-button-background-color-hover: $purple-50 !default;
$fab-button-open-label-color: $shade-0 !default;
$fab-button-open-background-color: $blue-80 !default;
$fab-button-transition-speed: .3s !default;
