// Button Group Variables
$button-group-font-size: 14px !default;
$button-group-font-weight: 700 !default;
$button-group-height: 36px !default;
$button-group-padding: 22px !default;
$button-group-color: $blue-ci !default;
$button-group-color-hover: $shade-0 !default;
$button-group-background-hover: $blue-60 !default;
$button-group-border-color: $blue-ci !default;
$button-group-color-selected: $shade-0 !default;
$button-group-background-selected: $blue-ci !default;
