// Base Settings
$base-color: $blue-80 !default;
$base-background: $shade-0 !default;
$base-font: IBM Helvetica, Helvetica Neue, HelveticaNeue, Helvetica, sans-serif !default;
$base-line-height: 1.5 !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$base-letter-spacing: null !default;
$base-link-color: $blue-ci !default;
$base-link-color-hover: $blue-50 !default;
$base-link-font-weight: 700 !default;
$base-radius: 3px !default;

$user-select-bg: $navy-gray-100 !default;
$user-select-color: $shade-0 !default;
