// Checkbox Variables
$checkbox-size: 18px !default;
$checkbox-label-padding: ($checkbox-size + 10) !default;
$checkbox-border: $blue-80 !default;
$checkbox-check-color: $cool-white-4 !default;
$checkbox-color-active: $blue-ci !default;
$checkbox-color-disabled: $cool-gray-50 !default;
